<div ng-controller="analyticsController">
  <style>
  .black {
    color: black;
  }
  </style>
  <body>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h1><span class="space_bg"><i class="fa fa-bar-chart-o"></span></i>{{user.name}}'s Progress</h1>
            <div class="row">
              <div class="col-md-2 col-md-offset-5">
                <a href="#/" class="fa-btn btn-1 btn-1e">Back</a>
              </div>
            </div>
          </div>
        </div>
        <h2 ng-show="diagnostic_data_holder[0][0]" class="black"> You just read at a speed of {{diagnostic_data_holder[0][diagnostic_data_holder[0].length - 1]}} words per minute.</h2>
        <h2 ng-hide="diagnostic_data_holder[0][0]" class="black"> Take a diagnostic exam and find out how fast you can read </h2>
        <!-- <h2>Math floor: {{ Math.floor(46.71 * 10) }} </h2> -->
        <div ng-show="diagnostic_data_holder[0][0]" class="row">
          <div class="col-md-12">
            <div class="jumbotron">
              <h3> Your speed comapred to the national average </h3>
              <canvas id="line" class="chart chart-line" chart-data="diagnostic_data_holder"
                chart-labels="diagnostic_labels" chart-legend="true" chart-series="diagnostic_series"
                chart-click="onClick" >
              </canvas>
            </div>
          </div>
        </div>
    ​
    <div class="row">
      <div class="col-md-12">
        <h2 ng-show="data[0][0]" class="black"> On your most recent exam you got {{data[0][data[0].length - 1]}}% of the questions right.</h2>
        <h2 ng-hide="data[0][0]" class="black"> Try honing your skills with some of our speed reading excercises <h3>
        <div ng-show="data[0][0]" class="jumbotron">
          <h3> Your comprehension compared to the National Average </h3>
          <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-legend="true" chart-series="series"
            chart-click="onClick" >
          </canvas>
        </div>
      </div>
    </div>

    ​
        <div class="row">
          <div class="col-md-4">
            <div class="jumbotron">
              <a href="#/settings"><h3><span class="space_md"><i class="fa fa-hand-o-right"></span></i>Keep practicing!</h3></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="jumbotron">
              <a href="#/diagnostic_settings"><h3><span class="space_md"><i class="fa fa-hand-o-right"></span></i>Keep reading!</h3></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="jumbotron">
              <h3><span class="space_md"><i ng-click="goToBadges()" class="fa fa-thumbs-o-up"></span></i>See your badges!</h3>
            </div>
          </div>
        </div>
    ​
      </div> <!-- end of container -->
  </div>
