<div class="header_bg">
  <div class="container">
    <div class="row header">
      <div class="logo navbar-left">
        <h1><a href="index.html"><i class="fa fa-book"></i>   SpeedRead</a></h1>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row h_menu">
    <nav class="navbar navbar-default navbar-left" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li ng-controller="loginController"><a href="" ng-click="login()"><i class="fa fa-user"></i><span class="space"></span>Login</a></li>
          <li><a href=""><i class="fa fa-check"></i><span class="space"></span>Diagnostic</a></li>
          <li><a href="#/flash"><i class="fa fa-gears"></i><span class="space"></span>Challenges</a></li>
          <li><a href="#/dashboard"><i class="fa fa-bar-chart-o"></i><span class="space"></span>Progress</a></li>
          <li><a href=""><i class="fa fa-info"></i><span class="space"></span>About</a></li>



        </ul>
      </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="soc_icons navbar-right">
    </div>
  </div>

<div class="slider_bg"><!-- start slider -->
  <div class="container">
    <div id="da-slider" class="da-slider text-center">
      <h1 id="tagline">Helping Students Read Good since 2015</h1>
    </div>
  </div>
</div><!-- end slider -->
<div class="main_bg"><!-- start main -->
  <div class="container">
    <div class="main row">
      <div class="col-md-4 images_1_of_4 text-center">
        <span class="bg"><i class="fa fa-check-square-o"></i></span>
        <h4><a href="#">Diagnostic</a></h4>
        <p class="para">First take the diagnostic test to calibrate your speed settings for the rest of the challenges.</p>
        <a href="single-page.html" class="fa-btn btn-1 btn-1e">Start</a>
      </div>
      <div class="col-md-4 images_1_of_4 bg1 text-center">
        <span class="bg"><i class="fa fa-align-left"></i></span>
        <h4><a href="#">Line by line</a></h4>
        <p class="para">Increase your reading speed by reading each line of a paragraph individually.</p>
        <a href="single-page.html" class="fa-btn btn-1 btn-1e">Start</a>
      </div>
      <div class="col-md-4 images_1_of_4 bg1 text-center">
        <span class="bg"><i class="fa fa-rocket"></i></span>
        <h4><a href="#">Word Ticker</a></h4>
        <p class="para">Put your eyes and mind to the test as you reacd each word individually as it flashes across the screen.</p>
        <a href="single-page.html" class="fa-btn btn-1 btn-1e">Start</a>
      </div>

    </div>
  </div>
</div><!-- end main -->

<!-- start footer -->
<div class="footer_bg">
  <div class="container">
    <div class="row  footer">
      <div class="copy text-center">
      </div>
    </div>
  </div>
</div>
