<link href="css/style.css" rel="stylesheet"/>
    <link href="vendor/owl-carousel/owl.carousel.css" rel="stylesheet"/>
    <link href="vendor/owl-carousel/owl.theme.css" rel="stylesheet"/>

    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/owl-carousel/owl.carousel.js"></script>
    <div class="header_bg">
    <div class="container">
    	<div class="row header">
    		<div class="logo navbar-left">
    			<h1><a href="index.html"><i class="fa fa-book"></i>   SpeedRead</a></h1>
    		</div>
    		<div class="clearfix"></div>
    	</div>
    </div>
    </div>
    <div class="container">
    	<div class="row h_menu">
    		<nav class="navbar navbar-default navbar-left" role="navigation">
    		    <!-- Brand and toggle get grouped for better mobile display -->
    		    <div class="navbar-header">
    		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    		        <span class="sr-only">Toggle navigation</span>
    		        <span class="icon-bar"></span>
    		        <span class="icon-bar"></span>
    		        <span class="icon-bar"></span>
    		      </button>
    		    </div>
    		    <!-- Collect the nav links, forms, and other content for toggling -->
    		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		      <ul class="nav navbar-nav">
    		        <li class="active"><a href="index.html">Home</a></li>
    		        <li><a href=""><i class="fa fa-check"></i><span class="space"></span>Diagnostic</a></li>
    		        <li><a href=""><i class="fa fa-gears"></i><span class="space"></span>Challenges</a></li>
                <li><a href=""><i class="fa fa-bar-chart-o"></i><span class="space"></span>Progress</a></li>
                <li><a href=""><i class="fa fa-info"></i><span class="space"></span>About</a></li>
    		      </ul>
    		    </div><!-- /.navbar-collapse -->
    		    <!-- start soc_icons -->
    		</nav>
    		<div class="soc_icons navbar-right">
    		</div>
    	</div>
    </div>
    <div class="slider_bg"><!-- start slider -->
    	<div class="container">
        <div id="da-slider" class="da-slider text-center"></div>
    	</div>
    </div><!-- end slider -->
    <div class="main_bg"><!-- start main -->
    	<div class="container">
    		<div class="main row">
    			<div class="col-md-4 images_1_of_4 text-center">
    				<span class="bg"><i class="fa fa-check-square-o"></i></span>
    				<h4><a href="#">Diagnostic</a></h4>
    				<p class="para">First take the diagnostic test to calibrate your speed settings for the rest of the challenges.</p>
    				<a href="single-page.html" class="fa-btn btn-1 btn-1e">Start</a>
    			</div>
    			<div class="col-md-4 images_1_of_4 bg1 text-center">
    				<span class="bg"><i class="fa fa-align-left"></i></span>
    				<h4><a href="#">Line by line</a></h4>
    				<p class="para">Increase your reading speed by reading each line of a paragraph individually.</p>
    				<a href="single-page.html" class="fa-btn btn-1 btn-1e">Start</a>
    			</div>
    			<div class="col-md-4 images_1_of_4 bg1 text-center">
    				<span class="bg"><i class="fa fa-rocket"></i></span>
    				<h4><a href="#">Word Ticker</a></h4>
    				<p class="para">Put your eyes and mind to the test as you reacd each word individually as it flashes across the screen.</p>
    				<a href="single-page.html" class="fa-btn btn-1 btn-1e">Start</a>
    			</div>
    ​
    		</div>
    	</div>
    </div><!-- end main -->
    ​
    <!-- START OF CAROUSEL -->
    <!-- START OF CAROUSEL -->
    <!-- start-img-cursual---->
    <div class="container">
      <wrap-owlcarousel class="owl-carousel"
    data-options="{autoPlay: 5000, stopOnHover: true,
        slideSpeed : 300, paginationSpeed : 400, singleItem : true}">
        <div>
          <img src="images/books/goblet.jpg"/>
        </div>

      <div id="owl-demo" class="owl-carousel text-center">
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/books/goblet.jpg" alt="Lazy Owl Image">
          </div>
          <div class="cau_left">
            <h4><a href="#">Harry Potter and the Goblet of Fire</a></h4>
            <p>J.K. Rowling</p>
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/books/gatsby.gif" alt="Lazy Owl Image">
          </div>
          <div class="cau_left">
            <h4><a href="#">The Great Gatsby</a></h4>
            <p>F. Scott Fitzgerald</p>
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/books/flies.jpg" alt="Lazy Owl Image">
          </div>
          <div class="cau_left">
            <h4><a href="#">Lord of the Flies</a></h4>
            <p>William Golding</p>
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/books/mocking_bird.jpg" alt="Lazy Owl Image">
          </div>
          <div class="cau_left">
            <h4><a href="#">To Kill a Mockingbird</a></h4>
            <p>Harper Lee</p>
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/books/enders_game.jpg" alt="Lazy Owl Image">
          </div>
          <div class="cau_left">
            <h4><a href="#">Ender's Game</a></h4>
            <p>Orson Scott Card</p>
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/books/atlas.jpg" alt="Lazy Owl Image">
          </div>
          <div class="cau_left">
            <h4><a href="#">Atlas Shrugged</a></h4>
            <p>Ayn Rynd</p>
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/books/catcher.gif" alt="Lazy Owl Image">
          </div>
          <div class="cau_left">
            <h4><a href="#">Catcher in the Rye</a></h4>
            <p>J.D. Salinger</p>
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/books/huck.jpg" alt="Lazy Owl Image">
          </div>
          <div class="cau_left">
            <h4><a href="#">The Adventures of Huckleberry Finn</a></h4>
            <p>Mark Twain</p>
          </div>
        </div>
        <div class="item">
          <div class="cau_left">
            <img class="lazyOwl" data-src="images/books/zen.jpg" alt="Lazy Owl Image">
          </div>
          <div class="cau_left">
            <h4><a href="#">Zen and the Art of Motorcycle Maintenance</a></h4>
            <p>Robert M. Pirsig</p>
          </div>
        </div>
    ​
      </div>
    </div>
      <!-- //End-img-cursual---->
    ​
    <!-- END OF CAROUSEL -->
    <!-- END OF CAROUSEL -->
    ​
    <div class="row">
      <div class="col-md-1 col-md-offset-3">
        <i class="fa fa-lightbulb-o" id="special"></i>
      </div>
      <div class="col-md-5 margin-left">
        <h2>The Difference is in the Research</h2>
        <p id="research">As the University of Utah School of Medicine reports, the average person reads around 300 words per minute. Speed readers can read between 500 and 700 words per minute -- or more. As long as your comprehension of reading material remains stable or increases, speed reading can greatly improve your efficiency.</p>
      </div>
    </div>
    ​
      <!-- start footer -->
      <div class="footer_bg">
      	<div class="container">
      		<div class="row footer">
      			<div class="copy text-center">
      			</div>
      		</div>
      	</div>
      </div>
    ​
