<div ng-controller="lineByLineController">
<style media="screen">
  .container{
    margin-top: 40px;
    color: #3B3B3B;
  }
  .quiz-title{
    padding: 20px 30px;
    background-color: #FF5454;
    border-radius: 5px;
  }
  .radio {
    font-size: 16px !important;
  }
  .dashboard {
    background-color: #3B3B3B;
    padding: 60px 80px;
    border-radius: 5px;
    margin-top: 25px;
  }
  h1, h2, h4 {
    text-align: center;
  }
  .span_color {
    color: #E0E0E0;
    font-size: 18px;
  }
  h1{
    margin-bottom: 25px;
    font-family: 'texgyreadventorregular';
    text-transform: uppercase;
  }
  .centered {
    text-align: center;
    margin: 20px;
  }
  .progress {
    margin-top: 20px;
  }

  .hidden_class {
    color: #3B3B3B;
    font-size: 18px;
  }
</style>
  <div class="container">
    <div class="row">
      <div class="col-md-4  col-md-offset-4 images_1_of_4 text-center">
        <span class="bg"><i class="fa fa-align-left"></i></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Line by line Challange</h1>
        <h4>Read each sentence as it appears on the screen.</h4>
​                   <div class="row">
              <div class="col-md-2 col-md-offset-5">
                <a href="#/" class="fa-btn btn-1 btn-1e">Home</a>
              </div>
            </div>
        <div class="dashboard">
          <span  ng-repeat="holder in sentences" class="{{holder.flag}}" ng-bind="holder.sentence"></span>
        </div>
        <div class="centered">
          <button ng-click="startLineByLine()" class="btn btn-success btn-lg align-center">Start</button>
        </div>
      </div>
    </div>
  </div> <!-- end of container -->
</div>
